<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;>
  <div class="container">
    <%= link_to 'Joshua Retallick', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Projects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Finance Tracker', one_path, class: 'nav-link' %>
            <%= link_to 'MessageMe', two_path, class: 'nav-link' %>
            <%= link_to 'Alpha Blog', three_path, class: 'nav-link' %>
          </div>
        </li>
        <li class="nav-item active">
          <%= link_to 'Old Empire', oldempire_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= mail_to 'josh-retallick@hotmail.com', "Contact", class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/joshuaretallick">
            <%= render 'layouts/github' %>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/oldempire/">
            <%= render 'layouts/linked' %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>