<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+HK&family=Roboto&family=Roboto+Mono&display=swap');
  </style>
</html>
